@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Heuristic Solutions Dev Eval</h1>
	<p class="lead">
		Welcome! This evaluation helps us assess your ability to perform different types of web development tasks. Although
		simplified, this is not unlike a "real" assignment you'd do as a developer on our team.
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" role="button" href="/Home/Setup">Initial Setup</a>
		<a class="btn btn-primary btn-lg" role="button" href="/Home/Requirements">View Requirements</a>
	</p>
	<br/>
	<div class="panel panel-primary">
		<div class="panel-heading">A note about this evaluation</div>
		<div class="panel-body">
			This evaluation is designed to test the general skills you'd use on our team, but without the headaches of pulling
			together every last element of our framework and architecture. <br/><br/>
			To learn more about the technologies we use "for reals", please see <a href="https://heuristicsolutions.atlassian.net/wiki/spaces/DEVPUB/pages/95387649/LearningBuilder+Development+Experience" target="_blank">LearningBuilder Development Experience</a>.
		</div>
	</div>
</div>

